name: Build and Deploy

on:
  push:
    branches:
      - main   # kalau branch kamu 'master', ganti jadi master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: # <--- INI TAMBALANNYA!
contents: write # Izin untuk check out dan push commit
pages: write    # Izin untuk deploy ke GitHub Pages
id-token: write # Diperlukan untuk deployment modern

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
